@tailwind base;
@tailwind components;
@tailwind utilities;

tr {
  border-bottom: 2px solid grey;
}
tr:last-child {
  border-bottom: none;
}
td {
  border-right: 2px solid grey;
}
td:last-child {
  border-right: 2px solid transparent;
}